# Visual Studio 临时文件
.vs/
ipch/
*.suo
*.user
*.VC.db
*.VC.VC.opendb
*.ncb
*.sdf
*.opensdf

# 编译输出目录
x64/
x86/
Debug/
Release/
*_debug/

# 编译中间文件
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.log
*.lastbuildstate
*.recipe
*.exe
*.dll

# 压缩包备份（体积太大，不传 GitHub）
*.zip
*.rar
*.7z

# 游戏存档（个人数据，不传 GitHub）
save*.txt
